<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baudelaire Telegram Scraper</title>
    <link href="../static/styles/style.css" rel="stylesheet" />
</head>
<body>

    <header>
        <section class="header">
            <section class="header-top"></section>
            <section class="header-bot"></section>
        </section>
    </header>

    <main>
        <section class="commentary-api">
            <h1>Telegram Scraper online toolz</h1>
            <p>Before any execution you need to do the installation process</p>
            <!-- Normalement le serveur ou je vais lancer mon projet va installer les librairies et il pourra executer le tool-->
            <!-- Ok je pars du principe que je m'occupe du setup une fois et apres le tool sera bon pour tous-->

            <p>To use this tool you need to go on <a href="https://my.telegram.org/">my.telegram.org</a> and copy/paste the api id and api hash</p>
        </section>

        <section class="api-choice">
            <p>Click here to enter your codes</p>
            <button> côûcôû </button>
        </section>
    </main>

    <footer></footer>
</body>
</html>